


<form   action="{$url}" method='post'  enctype="multipart/form-data">
							<ul class="sc-basic-newly-inbox">
                            
								<li>
									<div class="sc-fixation-box">模板类型</div>
									<input class="sc-basic-import" type="text" value="1" name="TemplateType" required  />
								</li>
								<li>
									<div class="sc-fixation-box">模板名</div>
									<input class="sc-basic-import" type="text" value="" name="TemplateName" required  />
								</li>
								<li>
									<div class="sc-fixation-box">模板内容</div>
									<input class="sc-basic-import" type="text" value="" name="TemplateContent" required  />
								</li>
								<li>
									<div class="sc-fixation-box">申请说明:
</div>
							
                                    <input id="date_1" class="sc-basic-import" type="text" name="Remark" value=""  required="required" />
								</li>
							
								
							
								<li class="sc-re-or-sbumitbox">
									<input type="submit" value="确认"  />
									<input type="reset" value="重置" />
								</li>
							</ul>
						</form>